@font-face {
  font-family: 'Ydestreet';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Ydestreet/Ydestreet-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/Ydestreet/Ydestreet-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/Ydestreet/Ydestreet-Light.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/Ydestreet/Ydestreet-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Ydestreet';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Ydestreet/Ydestreet-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/Ydestreet/Ydestreet-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/Ydestreet/Ydestreet-Bold.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/Ydestreet/Ydestreet-Bold.ttf') format('truetype');
}
